@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:200");

$color: rgba(255, 255, 255, 0.8);
$bgcolor: #000;

body{
  background-color: $bgcolor;
  background-image: url("/images/bg.jpg");
  background-position: top center;
  background-size: cover;
  color: $color;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 200;
  line-height: 1.65;
}

.box{
  border: 1px solid $color;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.hcenter{
  text-align: center;
}
