---
stylesheets:
  - index-theme
---

.viewport
  .row
    .col.xs12.hpad-double.vpad-double
      .box.hcenter
        %h1 The site is under construction
        %p Something amazing will be here soon...
