---
stylesheets:
  - index-theme
---

.viewport
  .row
    .col.xs12.hpad-double.vpad-double
      .box.hcenter
        %h1 The site is under construction
        %p Something amazing will be here soon...
  .row
    .col.xs12.hpad-double.vpad-double
      .box
        %h3.hcenter Help us make it faster
        .row
          .col.xs6.hpad
            %p
              %strong Documentry
              is a new network standart, multifunctional network platform with a decentralized structure that combine flexible routing, spartan hardware requirements, strong security, simple developer API and rich functionality.
            %p
              %strong Documentry Foundation
              is a team of developers and supporters of Documentry technologies stack organized as decentralized autonomous organization.
          .col.xs6.hpad.hcenter
            .row
              .col.xs6.hpad
                Donate us some BTC
              .col.xs6.hpad
                Donate us some ETH
            .row
              .col.xs6.hpad
                %img#qr-btc{src: "/images/btc.png"}
              .col.xs6.hpad
                %img#qr-btc{src: "/images/btc.png"}

